@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/responsive-utilities";
@import "helpers/utilities";


@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "font-awesome";
@import "singularitygs";

body{
    background: #dedede;
   
}

.dupajasiu {
    border: 10px solid green;
    @include add-grid(12); /*lalala*/
    @include add-gutter(1/3);
    @include add-gutter-style('split');
}
p {
    color: olive;
    transform: rotate(40deg);
    width:100px;
    @include respond-to(mobile) {
        color: blue;
    }
    @include respond-to(tablet) {
        color: pink
    }
}

a {
    color: red;
    @include respond-to(mobile) {
        color: blue;
    }
    @include respond-to(tablet) {
        color: pink
    }
}
